<html>

<head>
  <title>Hi codebrahma !</title>
</head>

<body style="background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: white; float: none; margin: 0 auto;" class="col-sm-11">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <br><br><br><br><br><br>
  <h2 style="text-align: center;">Hi CodeBrahma !</h2>
  <br><br><br><br><br>
  <div id="app-6">
      <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
          <label class="control-label col-sm-3">Array</label>
          <div class="col-sm-6">
            <input  v-model="array" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Target</label>
          <div class="col-sm-6"> 
            <input  v-model="tar" class="form-control">
          </div>
        </div>
      </form>
      <br><br><br>
    <h2 style="text-align: center;"><b>{{ans}}</b></h2>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="entry.js"></script>

</body>

</html>



